# Basic reliable MultiUE run
scenario_name = tcp_basic_multi_ue
transport_mode = tcp

access_node_id = 1000
step_ms = 10
scenario_duration_ms = 3200

network_seed = 1337
traffic_seed = 7

attach_timeout_ms = 150
detach_timeout_ms = 150
heartbeat_interval_ms = 200
inactivity_timeout_ms = 700
max_attach_retries = 3
max_detach_retries = 2

latency_ms = 20
jitter_ms = 2
loss_percent = 0
reorder_percent = 0
bandwidth_kbps = 12000
queue_limit_packets = 256

ue_count = 3

ue.0.node_id = 7
ue.0.ue_id = 7
ue.0.attach_start_ms = 0
ue.0.traffic_start_ms = 600
ue.0.traffic_end_ms = 1800
ue.0.uplink.traffic_pattern = cbr
ue.0.uplink.packet_size_bytes = 256
ue.0.uplink.packets_per_second = 20
ue.0.uplink.burst_packets = 4
ue.0.uplink.burst_interval_ms = 200
ue.0.uplink.ramp_start_pps = 5
ue.0.uplink.ramp_end_pps = 25
ue.0.downlink_enabled = false

ue.1.node_id = 8
ue.1.ue_id = 8
ue.1.attach_start_ms = 200
ue.1.traffic_start_ms = 800
ue.1.traffic_end_ms = 2000
ue.1.uplink.traffic_pattern = cbr
ue.1.uplink.packet_size_bytes = 256
ue.1.uplink.packets_per_second = 20
ue.1.uplink.burst_packets = 4
ue.1.uplink.burst_interval_ms = 200
ue.1.uplink.ramp_start_pps = 5
ue.1.uplink.ramp_end_pps = 25
ue.1.downlink_enabled = false

ue.2.node_id = 9
ue.2.ue_id = 9
ue.2.attach_start_ms = 400
ue.2.traffic_start_ms = 1000
ue.2.traffic_end_ms = 2200
ue.2.uplink.traffic_pattern = cbr
ue.2.uplink.packet_size_bytes = 256
ue.2.uplink.packets_per_second = 20
ue.2.uplink.burst_packets = 4
ue.2.uplink.burst_interval_ms = 200
ue.2.uplink.ramp_start_pps = 5
ue.2.uplink.ramp_end_pps = 25
ue.2.downlink_enabled = false